@font-face {
	font-family: 'nexa_boldregular';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.eot');
	src: url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.woff2') format('woff2'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.woff') format('woff'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.ttf') format('truetype'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
}
*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	--text-color: #fff;
	--background-color: #c59bce;
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	color: #fff;
	background-color: var(--background-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@keyframes loaderAnim {
	to {
		transform: rotate(360deg);
	}
}
main {
	position: relative;
	width: 100%;
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
.morph-wrap {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}
.morph {
	position: relative;
	height: 100%;
	fill: #dfb14f;
	flex: none;
}


/* Header */

.header {
	position: relative;
	display: flex;
}
.header__title {
	font-size: 24px;
	padding-right: 30px;
	margin: 0;
	font-weight: 700;
}
.header__title a {
	color: white;
}
.header__subtitle {
	font-size: 20px;
	padding-top: 2px;
	margin: 0;
	font-weight: 500;
}
.menu {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	display: flex;
    align-items: center;
    flex-wrap: wrap;
	margin: 0.75em 0 0;
}
.menu,
.menu:hover {
	color: #fff;
}
.menu__title {
	display: inline-block;
	font-size: 24px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-indent: -0.05em;
	margin: 0;
	position: relative;
	color: #fff;
}
.menu__title-selected {
	display: inline-block;
	font-size: 24px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-indent: -0.05em;
	margin: 0;
	position: relative;
	color: #fff;
	background-color: #dfb14f;
	padding: 0 5px;
}


/* CONTENT */

.content-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	min-height: 800px;
	pointer-events: none;
	vertical-align: middle;
}
.content-wrap-2 {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	pointer-events: none;
	vertical-align: middle;
	margin-bottom: 150px;
}
.content {
	position: relative;
	display: grid;
}
.content--fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	pointer-events: none;
	padding: 2.5em;
}
.content--fixed a {
	pointer-events: auto;
}
.content--layout {
	pointer-events: auto;
	justify-content: center;
	align-content: center;
	grid-template-columns: 30% 30%; 
	grid-template-areas:	"title title"
							"quote quote"
							"desc desc"
							"image image";
	overflow-wrap: break-word;
}
.content--layout-2 {
	grid-template-areas:	"title"
							"subtitle"
							"slogan";
	grid-template-columns: 100%;
	align-content: center;
	text-align: center;
	overflow-wrap: break-word;
}
.content--layout-3 {
	grid-template-areas:	"title ... desc"
							"... ... desc"
							"... ... desc"
							"... ... ..."
							"quote quote quote";
	grid-template-columns: 25% 5% 30%;
	text-align: left;
	overflow-wrap: break-word;
}
.content--layout-4 {
	grid-template-areas:	"image";
	grid-template-columns: 60%;
}
.content--layout-5 {
	grid-template-areas:	"title ... desc"
							"title ... list"
							"title ... list"
							"... ... rsv";
	grid-template-columns: 15% 5% 40%;
	text-align: left;
	overflow-wrap: break-word;
}
.content--layout-6 {
	grid-template-areas:	"title"
							"desc"
							"image";
	grid-template-columns: 60%;
	text-align: left;
	overflow-wrap: break-word;
}
.content__title {
	grid-area: title;
	font-family: 'nexa_boldregular', sans-serif;
	letter-spacing: -0.025em;
	font-size: 65px;
	line-height: 60px;
	margin: 0;
	z-index: 10;
	cursor: default;
}
.content__subtitle {
	grid-area: subtitle;
	font-family: 'nexa_boldregular', sans-serif;
	letter-spacing: -0.025em;
	font-size: 30px;
	margin: 0;
	z-index: 10;
	cursor: default;
	padding-top: 10px;
}
.content__slogan {
	grid-area: slogan;
	font-family: 'nexa_boldregular', sans-serif;
	letter-spacing: -0.025em;
	font-size: 40px;
	margin: 0;
	z-index: 10;
	cursor: default;
	padding-top: 5px;
}
.content__quote {
	grid-area: quote;
	font-family: 'nexa_boldregular', sans-serif;
	letter-spacing: -0.025em;
	font-size: 40px;
	margin: 0;
	z-index: 10;
	cursor: default;
	padding-top: 100px;
}
 .content__image {
	grid-area: image;
	width: 100%;
}
.content__desc {
	grid-area: desc;
	margin: 0;
	z-index: 10;
	cursor: default;
	font-size: 22px;
	padding-top: 40px;
	line-height: 28px;
}
.content__list {
	grid-area: list;
	margin: 0;
	z-index: 10;
	cursor: default;
	font-size: 18px;
	line-height: 28px;
	padding-top: 28px;
	padding-inline-start: 25px;
}
.content__rsv {
	grid-area: rsv;
	display: inline-block;
	font-size: 24px;
	font-weight: 800;
	letter-spacing: 0.05em;
	text-indent: -0.05em;
	margin: 0;
	position: relative;
	color: #fff;
	background-color: transparent;
	padding: 0 5px;
	border: 3px solid #fff;
	padding: 10px 10px;
	text-align: center;
	margin-top: 30px;
}

/* progra */

.content--progra {
  	width: 60vw;
	margin-left: 20vw;
}
.content__progra-title {
	font-family: 'nexa_boldregular', sans-serif;
	letter-spacing: -0.025em;
	font-size: 65px;
	line-height: 60px;
}
.grille {
	display: flex;
  	flex-wrap: wrap;
  	width: 100%;
}
.content__progra-img {
	object-fit: cover;
	opacity: 1;
	transition: opacity 0.3s;
	width: 20vw;
	padding: 0 5%;
}
.content__progra-item {
	transition: color 0.3s;
	position: relative;
	margin-bottom: 30px;
	padding: 0;
}
.content__progra-infos {
	position: absolute;
	top: 0;
	background-color: rgba(197, 155, 206, .7);
	color: white;
	opacity: 0;
	transition: opacity .3s, visibility .3s;
	width: 90%;
	left: 5%;
	height: calc(100% - 4px);
	text-align: center;
}
.content__progra-desc {
	font-size: 1em;
	margin: 0;
	max-width: 20vw;
	color: white;
}
.content__progra-date {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
.content__progra-item:hover .content__progra-infos,
.content__progra-item:focus .content__progra-infos {
	opacity: 1;
}
.footer__container {
  	width: 60vw;
	display: inline-flex;
	margin: 50px calc(20vw + 5px);
	position: relative;
}
.footer__container a {
  	display: block
}
.footer__container-contact {
  	vertical-align: top;
}
.footer__container-partenaires {
  	vertical-align: top;
  	padding-left: 10vw;
}





@media screen and (min-width: 50em) {
	.menu {
		text-align: right;
		top: 0;
		bottom: auto;
		width: auto;
		padding: 0;
		display: block;
		font-size: 0.85em;
		background: transparent;
		margin: 40px 40px 0 0;
	}
	.menu__title {
		display: block;

	}
}

/* Demos */
.demos {
	grid-area: demos;
	align-self: end;
}

.demo {
	display: inline-block;
	position: relative;
	font-size: 0.85em;
	margin: 0 0.25em 0.5em 0;
	padding: 1em;
}

@media screen and (max-width: 50em) {

	.content--layout {
	grid-template-columns: 45% 45%;
	} 

	.content--layout-3 {
		grid-template-columns: 30% 5% 60%;
	}

	.content--fixed {
		height: auto;
		min-height: 0;
		display: block;
		z-index: 1000;
		position: absolute;
	}
	.header {
		align-items: center;
		flex-direction: column;
	}
}

@media screen and (max-width: 40em) {
	.content--layout {
		transform: scale3d(0.8,0.8,1);
	}
}

@media screen and (max-width: 36em) {
	.content--layout {
		transform: scale3d(0.7,0.7,1);
	}
}

@media screen and (max-width: 32em) {
	.content--layout {
		transform: scale3d(0.6,0.6,1);
	}
	.content__author,
	.content__desc,
	.content__link {
		font-size: 1.35em;
	}
}

@media screen and (max-width: 28em) {
	.content--layout {
		transform: scale3d(0.5,0.5,1);
	}
}